<div class="sidebar">
  <div class="sidebar-brand">
    <app-logo class="sidebar-logo"></app-logo>
  </div>

  <div class="user-info">
    <div class="avatar">
      @if (store.avatarUrl()) {
        <img [src]="store.avatarUrl()" class="avatar-img" alt="Avatar" />
      } @else {
        <div class="avatar-placeholder">
          <span>{{ store.displayName().charAt(0) }}</span>
        </div>
      }
    </div>
    <div class="user-details">
      <h2 class="user-name">{{ store.displayName() }}</h2>
      <p class="user-email">{{ store.email() }}</p>
      <span class="user-package">{{ store.packageName() ?? 'Free' }}</span>
    </div>
  </div>

  <div class="sidebar-divider"></div>

  <nav class="nav-tabs scrollbar-hide">
    <button class="nav-tab" routerLink="dashboard" routerLinkActive="active">Hồ sơ</button>
    @if (store.isOrganization()) {
      <button class="nav-tab" routerLink="organization" routerLinkActive="active">Tổ chức</button>
    }
    <button class="nav-tab" routerLink="courses" routerLinkActive="active">Khóa học</button>
    <button class="nav-tab" routerLink="certificates" routerLinkActive="active">Chứng chỉ</button>
    @if (store.showPlansTab()) {
      <button class="nav-tab" routerLink="plans" routerLinkActive="active">Nâng gói</button>
    }
    <button class="nav-tab" routerLink="edit-profile" routerLinkActive="active">
      Đổi thông tin
    </button>
    <button class="nav-tab" routerLink="password" routerLinkActive="active">Đổi mật khẩu</button>
    <button class="nav-tab logout" (click)="onLogout()">Đăng xuất</button>
  </nav>
</div>
